@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
}
.costam {
    background-image: linear-gradient(rgb(251, 173, 128),#ff000000);
}
img {
    width: 8%;
    height: 5%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

li, a{
    text-emphasis-color: white;
    font-size: 20px;
    color: rgb(241, 236, 236);
    text-decoration: none;
    transition: 0.3s;
}
.nav_links {
    list-style: none;
    text-emphasis-color: white;
    font-size: 20px;
    color: rgb(241, 236, 236);
    text-decoration: none;
    transition: 0.3s;
}
.nav_links li {
    display: inline-block;
    padding: 0px 30px;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
}
a:hover {
    font-weight: bold;
    color: white;
}
span.caption {
    font-size: 15px;
    font-weight: 600;
}
a:hover.logos {
    color:black;
    transition: none;
}
p {
    color: rgb(32, 30, 30);
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p2 {
    font-weight: 600;
    font-size: 19px;
}
div.search {
    margin-left: 80px;
    margin-top: 50px;
    height: 40%;
}
input {
    border: none;
    padding: 8px 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px gray;
}
::placeholder {
    color: gray;
    text-align: left;
}
button {
    margin-top: 25px;
    margin-left: 9px;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(251, 171, 126);
    border-radius: 8px;
    box-shadow: 0px 2px 5px gray;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}
button:hover {
    opacity: 1;
}
img.right {
    position: relative;
    bottom: 200px;
    right: 100px;
    margin-right: 100px;
    float: right;
    width: auto;
    height: 250px;
}
.row {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 10%;
  }
.column {
    flex: 25%;
    max-width: 25%;
}
.caption span{
    margin-left: 3%;
}
.column input {
    border:rgb(32, 30, 30);
    background-color: white;
    background-size: contain;
    border-style: solid;
    border: 1px gray solid ;
    border-radius: 5%;
    box-shadow: 0px 0px 5px gray;
    margin-top: 15%;
    width: 110%;
    height: 35%;
}
.caption {
    position: relative;
    display: block;
    margin-left: 30%;
    text-align: center;
    padding-right: 10%;
}
.trending {
    background-color: rgb(251, 171, 126);
}
.trending p {
    color: white;
    padding: 5%;
    padding-bottom: 3%;
    font-size: 25px;
}
.trending ion-icon {
    font-size: 40px;
    padding-right: 5px;
}
.trending-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 1%;
    padding-top: 0;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}
.trending-images img {
    height: 80%;
    width: 80%;
    border-radius: 20px;
}
.trending-images a:hover {
    filter: brightness(60%)
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px 0px 100px;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: white;
    color: gray;
    font-size: 20px;
    margin-top: auto;
}
footer p {
    padding-bottom: 10px;
}
.logos {
    list-style: none;
    color: black;
    text-decoration: none;
    align-content: flex-end;
    font-size: 40px;
    margin-right: 15%;
}
.logos li {
    width: 30px;
    align-content: flex-end;
    display: inline-block;
    padding-right: 25px;
    color: black;
}